body {
  background-image: url('https://s3.amazonaws.com/eschnetzer/images/birch-trees-3840x2160.png');
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px;
}

.button-green {
  border: 1px solid rgb(74, 182, 148);
  color: rgb(74, 182, 148);
}

.button-green:hover {
  color: #fff;
  background-color: rgb(74, 182, 148);
}

.button-grey {
  border: 1px solid #35495e;
  color: #35495e;
}

.button-grey:hover {
  color: #fff;
  background-color: #35495e;
}

.button-purple {
  border: 1px solid rgb(101, 63, 146);
  color: rgb(101, 63, 146);
}

.button-purple:hover {
  color: #fff;
  background-color: rgb(101, 63, 146);
}

.button-teal {
  border: 1px solid rgb(28, 172, 172);
  color: rgb(28, 172, 172);
}

.button-teal:hover {
  color: #fff;
  background-color: rgb(28, 172, 172);
}

header,
section,
nav {
}
.vueperslides,
.vueperslides__inner,
.vueperslides__track {
  max-height: 279px;
}
.content {
  margin: 0 auto;
  max-width: 1100px;
}
.title {
  font-family: 'Dancing Script', cursive;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 1px;
  text-align: center;
}
.title a {
  color: rgb(28, 172, 172);
  text-decoration: none;
}
nav {
  text-align: center;
  padding: 10px;
}
nav a {
  /*border-right: 1px solid #DDD;*/
  color: #AAA;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
nav a:last-child {
  border: none;
}
nav a:hover,
nav a.nuxt-link-active {
  color: rgb(28, 172, 172)
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: #AAA;
  padding-bottom: 15px;
  text-align: center;
}
h3 {
  font-weight: 300;
  font-size: 24px;
  color: #AAA;
  padding-top: 15px;
  text-align: center;
}
h4 {
  font-weight: 300;
  font-size: 20px;
  color: #AAA;
  text-align: center;
}
h5 {
  font-weight: 300;
  font-size: 16px;
  color: #AAA;
  text-align: center;
}

.links {
  padding-top: 15px;
}

.teal {
  color: rgb(28, 172, 172);
}
.purple {
  color: rgb(101, 63, 146);
}
.green {
  color: rgb(74, 182, 148);
}

.daysLeft {
  position: fixed;
  top: 1%;
  right: 1%;
  width: 100px;
  height: 100px;
  text-align: center;
}

.daysLeftCircle {
  box-shadow: 5px 10px 50px #AAA;
  color: #FFF;
  font-weight: 900;
  padding-top: 20%;
  border: 5px solid rgba(213,235,251,1);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  background: rgb(235,241,246);
  background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%);
  background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
  background: linear-gradient(to bottom, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
  text-shadow: -2px -2px 0 rgba(137,195,235,.2),
              2px -2px 0 rgba(137,195,235,.2),
             -2px 2px 0 rgba(137,195,235,.2),
              2px 2px 0 rgba(137,195,235,.2);
}
.daysLeftCircle .daysLeftNumber {
  font-size: 3em;
  line-height: 90%;
}
.daysLeftCircle .daysLeftText {
  font-size: 1.2em;
  line-height: 80%;
}

/* Home */
.bspot {
  display: inline-block;
  text-align: center;
  width: 300px;
}
.bspot img {
  max-width: 200px;
}

/* The Wedding Party */
.party-members {
  margin: 0 auto;
  text-align: center;
}
.party-member {
  display: inline-block;
  width: 200px
}

/* Registry */
.registries {
  margin: 50px auto;
  text-align: center;
}
.registry {
  display: inline-block;
  width: 300px;
  height: 180px;
  text-align: center;
}
.registry img {
  margin-bottom: 10px;
}


/* Mobile overrides */
@media only screen and (max-width: 600px) {
  .daysLeft {
    margin: 20px auto 0;
    position: relative;
  }
  nav a {
    display: block;
  }
}
